<div class="container">
<database-header></database-header>

        <div class="container">
  <div class="row">
     <div class="col-sm-4">
      
      <p>
      <a [routerLink]="['/database', 'wmsods', 'xxxxx']">
	  <img src="./app/assets/images/WMS_ODS_LOGO.png" height="150" width="150"/>
	  </a>
      </p>
    <h3>WMS ODS</h3>
    </div>

     <div class="col-sm-4"> 
      
      <p>
      <a [routerLink]="['/database', 'G2', 'xxxxx']">
	  <img src="./app/assets/images/G2 logo_Final.jpg" height="150" width="175"/>
	  </a>
      </p>
    <h3>G2.0 Files</h3>
    </div>

     <div class="col-sm-4"> 
      
      <p>
      <a [routerLink]="['/legacy', 'xxxxx']">
	  <img src="./app/assets/images/legacy.gif" height="150" width="150"/>
	  </a>
      </p>
    <h3>Legacy Files</h3>
    </div>

  </div>
</div>

